

.input-group {
    display: flex;
}

.form-control {
    margin-right: 8px; 
    height: 38px; 
    
}

.input-group-append .btn.search-button {
    height: 38px; 
    transition: background-color 0.3s; 
}

.input-group-append .btn.search-button:hover {
    background-color: #72ee0d !important; 
}
.about{
    text-align: center;
    color: blue;
}


.documents-list {
    list-style: none;
    padding: 0;
}

.document-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.document-info {
    display: flex;
    flex-direction: column;
}

.document-info-item {
    margin-bottom: 5px;
}

.employee-details {
    margin-top: 20px;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.detail {
    margin-bottom: 10px;
}

.detail label {
    font-weight: bold;
}

.detail p {
    margin: 0;
}


