

.input-group {
    display: flex;
}

.form-control {
    margin-right: 8px; 
    height: 38px; 
    
}

.input-group-append .btn.search-button {
    height: 38px; 
    transition: background-color 0.3s; 
}

.input-group-append .btn.search-button:hover {
    background-color: #72ee0d !important; 
}
.about{
    text-align: center;
    color: blue;
}
